@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;

}

p,
h1,
h2,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

.header,
.hero,
.information,
.quote,
.subscribe,
.footer {
    padding-left: 176px;
    padding-right: 176px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FaF8;
}

.links{
    color: #F9FaF8;
}

.hero-txt h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-txt p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-txt button {
    background-color: #3882f6;
    color: #F9FaF8;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.information h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    display: flex;
    flex-direction: column;
}

.quote p{
    color: #1f2937;
    margin-top: 88px;
}

.quote h4{
    text-align: right;
    margin-bottom: 88px;
}
.subscribe {
    display: flex;
    background-color: #3882f6;
    width: 400px;
    height: 120px;
    margin-top: 64px;
    margin-bottom: 64px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.subscribe .txt{
   color: #f9faf8;
}

.subscribe button{
    background-color: #3882f6;
    color: #F9FaF8;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid #F9FaF8;
    cursor: pointer; 
}

.container-s{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    height: 230px;
    width: 500px;
    margin-top: 8px;
}

.hero {
    justify-content: space-between;
    padding-top: 88px;
    padding-bottom: 88px;
    flex-wrap: wrap;
}

.hero-txt{
    width: 500px;
    gap: 16px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

.deck{
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 15%;
}
.card-txt{
display: flex;
text-align: center;
width: 150px;

}

.footer{
    height: 48px;
    color: #F9FaF8;
    justify-content: center;
    align-items: center;
}